<form name="login" method="POST" action="login.php">
<input type="hidden" name="HREF" value="{HREF}" />
<input type="hidden" name="QUERY" value="{QUERY}" />
<table id="login">
<tr>
	<th>Login {LOGIN.MSG}</th>
	<th class="home"><a href="index.php">Principal</a></th>
</tr>
<tr>
	<td align="right"><label for="txtEmail">E-mail:</label></td>
	<td><input type="text" size="11" name="txtEmail" id="txtEmail"></td>
</tr>
<tr>
	<td align="right"><label for="txtPassword">Senha:</label></td>
	<td><input type="password" size="11" name="txtPassword" id="txtPassword"></td>
</tr>
<tr>
	<td align="center" colspan="2"><input type="submit" name="btnSubmit" value="Login"></td>
</tr>
</table>
</form>
